wheel>=0.22
# https://github.com/pyca/cryptography/issues/5753
cryptography==3.2
ipaddress
pyroute2
scapy
git+http://github.com/SIPp/pysipp.git@b734f39#egg=pysipp
git+git://github.com/SIPp/pysipp.git@b734f39#egg=pysipp
jinja2
PyOpenSSL
dnslib
