{% macro send(transport) -%}
    <send start_rtd="true">
      <![CDATA[

OPTIONS sip:[remote_ip]:{{transport}} SIP/2.0
Via: SIP/2.0/[transport] [local_ip]:[local_port];branch=[branch]
From: <sip:[field1]@[local_ip]>;tag=CALLER[call_number]
To: <sip:[field0]@[remote_ip]>
Call-ID: [call_id]
CSeq: [cseq] OPTIONS
Contact: [field1] <sip:[field1]@[local_ip]:[local_port]>
Max-Forwards: 70
Content-Length: [len]

]]>
    </send>
{%- endmacro %}
